{% extends 'temp/index.html' %}
{% block base %}
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fixed table header</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="/static/table/style.css">


</head>

<body>
  <section>
  <!--for demo wrap-->
  <h1>VERIFY USER</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr >
         <th>Name</th>
		<th>Address</th>
		<th>Gender</th>
		<th>Email</th>
		<th>Phone</th>
		<th></th>
            <th></th>
        </tr>

      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {% for x in val %}
        <tr>

		<td>{{ x.username }}</td>
		<td>{{ x.address }}</td>
		<td>{{ x.gender }}</td>
		<td>{{ x.email }}</td>
		<td>{{ x.phone_number }}</td>
            {% if ok %}
            {% for i in ok %}
            <td>VERIFIED</td>
                {% endfor %}
        {% endif %}
		<td><a href="{% url 'verfyuse' idd=x.u_id %}">Verify</a></td>
{#        <td><a href="{% url 'delus' idd=x.u_id %}">Delete</a></td>#}

        </tr>
 {% endfor %}
      </tbody>
    </table>
  </div>
  <p  style=  text-align:center   >scroll down </p>
</section>


<!-- follow me template -->

</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="/static/table/index.js"></script>

</body>

</html>


  {% endblock %}